{# @var \Codeschubser\Bundle\TwigComponents\Twig\Component\Button this #}

<button {{- attributes.defaults({class: this.defaultCssClass(), type: this.type()}) -}}>
    {%- if this.icon -%}
        {% from '@CodeschubserTwigComponents/abstract/macros.html.twig' import icon %}
        {{ icon(this.icon, this.label ? 'me-2') }}
    {%- endif -%}

    <twig:block name="content">{{- this.label -}}</twig:block>
</button>
