{# @var Codeschubser\Bundle\BootstrapTwigComponentsBundle\Twig\Component\Icon this #}

<span {{ attributes.defaults({class: 'icon'}) }}>
    {% set icon = this %}
    {% if icon.isUxIcon %}
        {% guard function ux_icon %}
            {{ ux_icon(icon.name, attributes.all) }}
        {% endguard %}
    {% else %}
        <i class="{{ icon.name }}" aria-hidden="true"></i>
    {% endif %}
</span>
